<section id="home">
   <div class="navbar">
       <div class="logo">
           <img src="/res/logo.svg" alt="">
       </div>
       <div class="menu">
           <a href="#">Login</a>
       </div>
   </div>
   
   <div class="container">
       <div class="text">
           <p>Conheça <em>empreendedores</em>,<br>divulgue seu projeto,<br>ganhe experiência!</p>
           <span>Acreditamos na força das conexões como uma forma eficiente de redução da fragilidade do empresário e do seu negócio.</span>
           <button>Participe dos nossos encontros <img src="/res/arrow.png"></img></button>
       </div>
       <div class="vector">
           <img src="/res/movimento.png"></img>
       </div>
   </div>
</section>

<section id="about">
    <article>
        <p>Um novo jeito de fazer parcerias</p>
        <span>Por meio do NETWORKING realizado no grupo, é possível encontrar parceiros, <br> clientes, fornecedores e ainda trocar muita experiência com os profissionais presentes.</span>
    </article>
    <div class="box">
        <img src="/res/1.svg"></img>
        <p>Crie novas <br> parcerias</p>
    </div>
    <div class="box">
        <img src="/res/2.svg"></img>
        <p>Feche mais <br> negócios</p>
    </div>
    <div class="box">
        <img src="/res/3.svg"></img>
        <p>Aumente suas <br> vendas</p>
    </div>
    <article>
        <p>Quer participar? Deixe seu contato!</p>
        <span>Você não precisa ser um mega hiper ultra empreendedor para participar <br> das nossas reuniões, basta ter vontade de empreender!</span>
    </article>
    
    <form ng-submit="submit()">
        <input ng-model="mailChimp.nome" type="text" placeholder="seu nome + sobrenome" required>
        <input ng-model="mailChimp.email" type="email" placeholder="seu email" required>
        <input ng-model="mailChimp.empresa" type="text" placeholder="nome do seu negócio/empresa" required>
        <input ng-model="mailChimp.segmento" type="text" placeholder="segmento" required>
        <button>Quero participar!</button>
    </form>
</section>

<section id="footer">
    <p>2018 © Movimento Empreendedor | Site desenvolvido por <a href="https://dotpegaso.com.br" target="_blank">dotpegaso</a></p>
</section>