#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 15px 0;
    font-size: .8em;
    font-family: $ubuntu;
    font-weight: 300;
    
    a{
        text-decoration: none;
        font-weight: 600;
        color: #028da9;
    }
}