#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: .8em;
    font-family: $ubuntu;
    font-weight: 300;
    
    p{
        em{color: #f9f9f9};
        
        a{
            text-decoration: none;
            font-weight: 600;
            color: #028da9;
            cursor: pointer;
        }
    }
}